<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hola</h1>
    <% (1..50).each do |i| %>
      <h3><%= i.even? ? "#{i} Soy Par! <br/>" : "#{i} Soy Impar! <br/>" %></h3>
    <% end %>


  </body>
</html>
